.Home {
  background: url("../../Assets/Images/kavalskaya.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.Home-container {
  margin-left: 65px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; /* 
  width: 400px; */
  height: 340px;
  background-color: rgba(0, 0, 0, 0.686);
  max-height: 44%;
}

.logo {
  width: 170px;
  height: 170px;
  margin: 10px;
}

.Home-title {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.Home-title span {
  font-weight: 400;
  font-style: italic;
}


.Card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.input-lang {
  position: absolute;
  top: 30px;
  right: 40px;
}

.card-btn {
  position: relative;
  margin: 15px;
  width: 600px;
}

@media (max-width: 1300px) {
  .description {
    display: flex;
    justify-content: center;
  }
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%; /* создает круглую форму */
  position: relative;
  background: #00B7FF;
}

.circle:before {
  content: "";
  position: absolute;
  top: -10px; /* отступ окружности от круга */
  left: -10px; /* отступ окружности от круга */
  width: 30px; /* размер окружности */
  height: 30px; /* размер окружности */
  border: 5px solid #00B7FF; /* цвет окружности */
  border-radius: 50%; /* создает круглую форму */
}

