.Map {
  background: url("../../Assets/Images/tonnel3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.MapImg {
  background: url("../../Assets/Images/Vakzalnaja.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Map-container {
  background-color: rgba(0, 0, 0, 0.587);
  width: 100%;
  padding: 20px 0;
}

.title {
  text-align: center;
  font-size: 35px;
  padding: 10px;
  color: #ffff;
}

.MapWrapper {
  position: relative;
}

.Map-info {
  /* background: url("../../Assets/Images/shema.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  display: flex;
  justify-content: center;
}

.content-img {
  width: 60%;
}

.branch {
  z-index: 99;
}

.redBranch {
  position: absolute;
  top: 50px;
  left: 220px;
}

.blueBranch {
  position: absolute;
  right: -50%;
  top: 15px;
}

.greenBranch {
  position: absolute;
  right: -17%;
  top: 483px;
}
