.slider {
    display: flex;
    align-items: center;
    width: 1340px;
    height: 490px;
    overflow-x: hidden;
    overflow-y: visible;
}

.slider-wrapper {
    height: 490px;
    width: max-content;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.nav_btn {
    z-index: 1;
    height: 450px;
    font-size: 50px;
    font-weight: bold;

}

.slides-container {
    max-width: min-content;
    min-width: 3000px;
    display: flex;
}

.Card {
    margin: 0 30px 0 0 ;
    width: 420px;
    max-width: 420px;
    min-width: 420px;
    height: 450px;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.dots {
    width: 600px;
    margin: 50px;
    height: 3px;
    background-color: #00B7FF;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}

.dot {
    cursor: pointer;
    margin-top: -14px;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* создает круглую форму */
    position: relative;
    background: inherit;
    border: 7px solid white;
}

.dot:hover {
    box-shadow: 1px 1px 3px gray;

}

.dot:before {
    cursor: pointer;
    content: "";
    position: absolute;
    top: -10px; /* отступ окружности от круга */
    left: -10px; /* отступ окружности от круга */
    width: 40px; /* размер окружности */
    height: 40px; /* размер окружности */
    background-color: inherit; /* цвет окружности */
    z-index: -1;
    border-radius: 50%; /* создает круглую форму */
}

.dot:active:before {
    scale: 0.95;
}