.content {
  margin: 25px;
  text-align: justify;
  flex-wrap: wrap;
}

.content-span {
  margin-bottom: 15px;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 30px;
}

.Media-paragraph {
  line-height: 26px !important;
  width: 800px;
}

.Media-paragraph span {
  font-size: 50px;
  margin-left: -4px;
  margin-right: -13px;
  line-height: 5px;
  font-weight: bold;
}

.Media-desc {
  line-height: 26px !important;

  margin: 30px 0;
}

.links {
  margin-top: 20px;
}
