.content {
  margin: 25px;
  text-align: justify;
  flex-wrap: wrap;
}

.content-span {
  margin-bottom: 10px;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Media-paragraph {
  max-width: 800px;
}

.Media-paragraph span {
  font-size: 48px;
}

.Media-desc {
  margin: 20px 0;
}

.links {
  margin-top: 20px;
}
